/*import google font styles*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&display=swap');

/*wildcard selector to override default styles set by the browser*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*apply full height and width to elements, including the border*/ 
}

/*general styles*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /*generic project styles*/
    color: #3a3a3a;
    font-family: "lato", sans-serif;
}



header {
    background-color: slategray;
    background-color: #fffffc;
    padding: 0 1rem;
    position: fixed;
    z-index: 50;
    width: 100%;
    box-shadow: 0 3px 3px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: "oswald", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252524;
}

#menu {
    letter-spacing: 4px;
    font-size: 110%;
    list-style-type: none;
}

#menu > li {
    margin-bottom: 1em;
}

nav {/*navbar styles with dropdown menu*/
    position: absolute;
    left: 0;
    top: 100%;
    padding: 0 1rem;
    background-color: #fffffc;
    width: 100vh; /*navbar extends to full width of viewport*/
    box-shadow: inherit; /*inherit properties values from the header*/
    display: none; /*hide display untill user clicks on the hamburger button*/
}

#nav-toggle:checked ~ nav { /*target sibling of checkbox and trigger block display when button is checked*/
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

main {
    background-color: steelblue;
    /*make main element take up surplus space to push the footer down*/
    flex: 1 0 auto;
    margin-top: 47px;/*offset margin to the top relative to header height*/
}

footer {
    background-color:bisque;
}